<% include partials/header %>
    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Wishlist</h1>
          </div>
        </div>
      </div>
    </div>



<%if (typeof cart !== "undefined" || cart != null){%>
    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
					<div class="col-md-12 ftco-animate">
						<div class="cart-list">
							<table class="table">
								<thead class="thead-primary">
								  <tr class="text-center">
									  <th>Delete</th>
									  <th>Product name</th>
									  <th>Product image</th>
									  <th>Price</th>
									  <th>Quantity</th>
									  <th>Total</th>
								  </tr>
								</thead>
								<tbody>
								<% var subTotal = 0; %>
								<% var productTotalPrice = 0; %>
								<% cart.forEach(function(product){ %>
								<% var sub = parseFloat(product.productQuantity * product.productPrice).toFixed(2) %>
								<% subTotal += +sub %>
								<% subTotal = parseFloat(subTotal).toFixed(2) %>
									<tr class="text-center">
										<td class="product-remove">
											<a href="/cart/delete-product/<%=product.productId%>/<%=product.productCategory%>">
												<span class="ion-ios-close"></span>
											</a>
										</td>

										<td class="product-name"><%=product.productName%></td>

										<td class="image-prod">
											<img src="<%=product.productImage%>" width="100px">
										</td>

										<td class="price">$<%=product.productPrice%></td>

										<td class="product-remove">
											<a href="/cart/decrease-quantity/<%=product.productId%>/<%=product.productCategory%>">-</a>
											<%=product.productQuantity%>
											<a href="/cart/increase-quantity/<%=product.productId%>/<%=product.productCategory%>">+</a></div>
										</td>

										<td class="total">$<%=sub%></td>
									</tr>
								<% }); %>
								</tbody>
							  </table>
					  	</div>
					</div>
    			</div>







				<div class="row justify-content-start">
					<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
						<div class="cart-total mb-3">
							<h3>Cart Totals</h3>
							<p class="d-flex">
								<span>Subtotal</span>
								<span>$<%=subTotal%></span>
							</p>
							<p class="d-flex">
								<span>Delivery</span>
								<span>$0.00</span>
							</p>
							<p class="d-flex">
								<span>Discount</span>
								<span>$0.00</span>
							</p>
							<hr>
							<p class="d-flex total-price">
								<span>Total</span>
								<span>$17.60</span>
							</p>
						</div>
						<p class="text-center"><a href="checkout.html" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
					</div>
				</div>

			</div>
		</section>
<%}else{%>
<section class="ftco-section testimony-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<h2 class="mb-4">Your cart is empty</h2>
			</div>
		</div>
	</div>
</section>
<%}%>

<% include partials/footer %>
