<% include partials/header %>

    <div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
			  <% var subTotal = 0;%>
			  <% var num = 0; %>
			  <form class="pp" action="https://www.paypal.com/us/cgi-bin/webscr" method="post" target="_blank">
				  <input type="hidden" name="cmd" value="_cart">
				  <input type="hidden" name="upload" value="1">
				  <input type="hidden" name="business" value="youremail-facilitatior@gmail.com">
				  <% var subTotal = 0;%>
				  <% var num = 0; %>
				  <% cart.forEach(function(p){ %>
				  <% var sub = parseFloat(p.productQuantity * p.productPrice) %>
				  <% subTotal = subTotal + sub %>
				  <% num++ %>
				  <input type="hidden" name="item_name_<%= num %>" value="<%= p.productName %>">
				  <input type="hidden" name="amount_<%= num %>" value="<%= p.productPrice %>">
				  <input type="hidden" name="quantity_<%= num %>" value="<%= p.productQuantity %>">
				  <% }); %>
				  <input type="hidden" name="currency_code" value="USD">
				  <input type="hidden" name="amount" value="<%= subTotal %>">
				  <input type="image" hidden  ID="PTC2" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
			  </form>
			  <form id="checkDone" action="/checkout/place-order" method="post" >
				  <h3 class="mb-4 billing-heading">Billing Details</h3>
				  <div class="row align-items-end">
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="firstname">Firt Name</label>
							  <input  name="firstname" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="lastname">Last Name</label>
							  <input name="lastname" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="w-100"></div>
					  <div class="col-md-12">
						  <div class="form-group">
							  <label for="country">State / Country</label>
							  <div class="select-wrap">
								  <select name="country" id="" class="form-control">
									  <option value="France">France</option>
									  <option value="Italy">Italy</option>
									  <option value="Philippines">Philippines</option>
									  <option value="SouthKorea">South Korea</option>
									  <option value="Hongkong">Hongkong</option>
									  <option value="Japan">Japan</option>
								  </select>
							  </div>
						  </div>
					  </div>
					  <div class="w-100"></div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="streetaddress">Street Address</label>
							  <input name="streetaddress" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="appartment">Appartment (Optional)</label>
							  <input name="appartment" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="w-100"></div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="city">City</label>
							  <input name="city" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="postcode">Postcode / ZIP *</label>
							  <input name="postcode" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="w-100"></div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="phone">Phone</label>
							  <input name="phone" type="text" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="col-md-6">
						  <div class="form-group">
							  <label for="emailaddress">Email Address</label>
							  <input name="emailaddress" type="email" class="form-control" placeholder="">
						  </div>
					  </div>
					  <div class="w-100"></div>
					  <input type="hidden" id="DeliveryStatus" name="deliveryStatus">

					  <div class="col-md-6 " >
						  <div class="cart-detail cart-total bg-light p-3 p-md-4">
							  <h3 class="billing-heading mb-4">Cart Total</h3>
							  <p class="d-flex">
								  <span>Subtotal</span>
								  <span>$<%=subTotal%></span>
							  </p>
							  <p class="d-flex">
								  <span>Delivery</span>
								  <span>$0.00</span>
							  </p>
							  <p class="d-flex">
								  <span>Discount</span>
								  <span>$0.00</span>
							  </p>
							  <hr>
							  <p class="d-flex total-price" style="margin-bottom: 145px;">
								  <span>Total</span>
								  <span>$<%=subTotal%></span>
							  </p>
						  </div>
					  </div>

					  <div class="col-md-6">
							  <div class="cart-detail bg-light p-3 p-md-4">
							  <h3 class="billing-heading mb-4">Payment Method</h3>
							  <div class="form-group">
								  <div class="col-md-12">
									  <div class="radio">
										  <label><input type="radio" name="optradio" class="mr-2" value="BankTransfer"> Direct Bank Tranfer</label>
									  </div>
								  </div>
							  </div>
							  <div class="form-group">
								  <div class="col-md-12">
									  <div class="radio">
										  <label><input type="radio" name="optradio" class="mr-2" value="CheckPayment"> Check Payment</label>
									  </div>
								  </div>
							  </div>
							  <div class="form-group">
								  <div class="col-md-12">
									  <div class="radio">
										  <label><input id="checkPaypal" type="radio" name="optradio" class="mr-2" value="paypal"> Paypal</label>
									  </div>
								  </div>
							  </div>
							  <div class="form-group">
								  <div class="col-md-12">
									  <div class="radio">
										  <label><input type="radio" name="optradio" class="mr-2" value="CashOnDelivery"> Cash on delivery</label>
									  </div>
								  </div>
							  </div>
							  <div class="form-group">
								  <div class="col-md-12">
									  <div class="checkbox">
										  <p>I have read and accept the terms and conditions</p>
									  </div>
								  </div>
							  </div>
							  <p><button id="PTC1" class="btn btn-primary py-3 px-4">Place an order</button></p>
						  </div>
					  </div>
				  </div>
			  </form><!-- END -->
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->

<% include partials/footer %>
